{% extends 'base.html' %}
{% block content %}

<div class="card mt-3" >
    <div class="card-header">
        <h3>{{ book.title }}</h3>
    </div>
    <div class="card-body">
        <small>{{ book.published }}</small>
      <h5 class="card-title"><strong>Kategori: </strong>{{ book.category }}</h5>
      <h6 class="mb-5"><strong>Pengarang: </strong>{{ book.author_name }}</h6>
      {% if book.image %}
      <img src="{{ book.image.url }}" width="351px" alt="My image">
      {% endif %}
      <p class="card-text my-3">{{ book.description|safe }} </p>
      
    </div>
      {% if user.is_authenticated %}
      <div class="card-footer">
        <a href="{% url 'updatebuku' book.id %}" class="btn btn-primary">Update Stock</a>
        
        <a href="{% url 'deletebook' book.id %}"  class="btn btn-danger mx-5">Delete this stock</a>
      </div>
        {% endif %}
  </div>
</div>

{% endblock %}
